<nav ui-nav>
   <ul class="nav">

    <li><div class="b-b b m-t-sm"></div></li>
    <li class="light-blue-900">
      <a href="https://www.linkedin.com/in/pedrohymino/" target="_blank">
        <span class="nav-icon">
      	 <i class="fa fa-linkedin"></i>
        </span>
        <span class="nav-text">Linkedin</span>
      </a>
    </li>

    <li class="teal-A400">
      <a href="https://pedrohymino.tumblr.com/" target="_blank">
        <span class="nav-icon">
      	 <i class="fa fa-th-large"></i>
        </span>
        <span class="nav-text">Portfólio</span>
      </a>
    </li>
    <!-- <li class="no-bg">
      <a>
        <span class="nav-icon">
      	 <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li> -->
  </ul> 
</nav>
